<a href="https://colab.research.google.com/github/ro-prates/data_science/blob/master/dataframe3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hierarquia_index = list(zip(outside, inside))
hierarquia_index = pd.MultiIndex.from_tuples(hierarquia_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hierarquia_index = list(zip(outside, inside)) # o método zip faz a associação de duas listas, transformando-as em uma tupla
hierarquia_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hierarquia_index = pd.MultiIndex.from_tuples(hierarquia_index)
hierarquia_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [7]:
df = pd.DataFrame(np.random.randn(6, 2), index=hierarquia_index, columns=['A', 'B'])
df

             A         B
G1 1  0.641243  0.727841
   2 -1.412123 -0.316469
   3  1.676986 -1.088544
G2 1 -0.726895  0.789180
   2  1.552344  0.032344
   3  0.276337 -0.582545

In [8]:
df.loc['G1']

          A         B
1  0.641243  0.727841
2 -1.412123 -0.316469
3  1.676986 -1.088544

In [9]:
df.index.names = ['Grupo', 'Numero']
df

                     A         B
Grupo Numero
G1    1       0.641243  0.727841
      2      -1.412123 -0.316469
      3       1.676986 -1.088544
G2    1      -0.726895  0.789180
      2       1.552344  0.032344
      3       0.276337 -0.582545

In [10]:
df.xs(1, level='Numero')

              A         B
Grupo
G1     0.641243  0.727841
G2    -0.726895  0.789180