<a href="https://colab.research.google.com/github/ro-prates/data_science/blob/master/dataframe2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5, 4), index='A B C D E'.split(), columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [4]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [5]:
bol = df > 0
df[bol]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
df[df['W'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
df[df['W'] > 0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [8]:
df[(df['W']  > 0) | (df['Y'] > 1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [10]:
col = 'RS RJ SP AM SC'.split()
col

['RS', 'RJ', 'SP', 'AM', 'SC']

In [11]:
df['Estado'] = col
df

          W         X         Y         Z Estado
A  2.706850  0.628133  0.907969  0.503826     RS
B  0.651118 -0.319318 -0.848077  0.605965     RJ
C -2.018168  0.740122  0.528813 -0.589001     SP
D  0.188695 -0.758872 -0.933237  0.955057     AM
E  0.190794  1.978757  2.605967  0.683509     SC

In [12]:
df.set_index('Estado')
df

          W         X         Y         Z Estado
A  2.706850  0.628133  0.907969  0.503826     RS
B  0.651118 -0.319318 -0.848077  0.605965     RJ
C -2.018168  0.740122  0.528813 -0.589001     SP
D  0.188695 -0.758872 -0.933237  0.955057     AM
E  0.190794  1.978757  2.605967  0.683509     SC

In [13]:
df.set_index('Estado', inplace=True) #para definir que o estado seja o index da sua tabela: inplace = True
df

               W         X         Y         Z
Estado
RS      2.706850  0.628133  0.907969  0.503826
RJ      0.651118 -0.319318 -0.848077  0.605965
SP     -2.018168  0.740122  0.528813 -0.589001
AM      0.188695 -0.758872 -0.933237  0.955057
SC      0.190794  1.978757  2.605967  0.683509